<div>
  <label for="firstNumber">Premier nombre:</label>
  <input id="firstNumber" type="number" #firstNumber>
</div>

<div>
  <label for="secondNumber">Deuxième nombre:</label>
  <input id="secondNumber" type="number" #secondNumber>
</div>

<div>
  <button (click)="add(firstNumber.value, secondNumber.value)">+</button>
  <button (click)="subtract(firstNumber.value, secondNumber.value)">-</button>
  <button (click)="multiply(firstNumber.value, secondNumber.value)">*</button>
  <button (click)="divide(firstNumber.value, secondNumber.value)">/</button>
</div>

<div>
  <label>Résultat:</label>
  <span>{{ result }}</span>
</div>